<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Lalana</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <section id="fabrication">
        <div id="titre">
            Ajoutez une couche
        </div>
        <div id="menu">
            <div>
                <a href="{{ url_for('menu') }}">menu</a>
            </div>
            <div>
                <a href="{{ url_for('goToInsertRoute') }}">Inserer une nouvelle route</a>
            </div>
            <div>
                <a href="ajoutCouche.html">Ajouter une couche</a>
            </div>
            <div>
                <a href="#">Enlever toutes les couches</a>
            </div><div>
                <a href="{{ url_for('goToInsertFiltrable') }}">ajouter filtrable</a>
            </div>
        </div>
        <div id="bloc">
            <form action="#" method="post">
                <div id="couche">
                    <label for="idcouche">Couche</label>
                    <select name="idcouche" id="couche">    
                        <option value="1">couche 1</option>
                    </select>
                </div>
                <div id="couleur">
                    <label for="idcouleur">couleur</label>
                    <select name="idcouleur" id="couleur">       
                        <option value="1">couleur 1</option>
                        <option value="1">couleur 1</option>
                        <option value="1">couleur 1</option>
                    </select>
                </div>
                <div id="route">
                    <label for="idroute">route</label>
                    <select name="idroute" id="route">
                        <option value="1">Toutes les routes</option>
                        <option value="1">Route prioritaire</option>          
                        <option value="1">Route 1</option>
                    </select>
                </div>
                <div id="diametre">
                    <label for="diametre">diametre</label>
                    <input type="number" min="1" name="diametre" id="diametre">
                </div>
                <div id="submit">
                    <input type="submit" value="Ajouter la couche">
                </div>
            </form>
        </div>
    </section>
</body>
</html>